@import 'foundation', 'mixins', 'variables';
@import '../../bower_components/foundation-sites/scss/global';

.top-bar {
  position: relative;
  border-bottom: $border-size-regular solid $light-gray;
  background: url(/assets/images/top_bar_bg.jpg);

  .top-bar-left, .top-bar-right {
    height: rem-calc(72);
  }

  .top-bar-left {
    .menu {
      .burger {
        @include show-for-only(small);

        button {
          @include hamburger;
        }
      }

      .logo a {
        padding: 0;
        margin-bottom: rem-calc(-30);
        margin-top: rem-calc(-20);

        img {
          height: rem-calc(100);
        }
      }

      a {
        color: $black;
        transition: color .2s;

        &:hover {
          color: $primary-color;
        }
      }

      li:not(.logo) {
        &:not(.burger) {
          @include show-for(medium);
        }

        &:not(:last-child) a {
          border-right: 1px solid $primary-color;
        }
      }
    }
  }

  .top-bar-right {
    button {
      margin-bottom: 0;
      font-size: $small-font-size;
    }

    .login-button {
      @include y-center;
    }

    .button {
      @extend .button.expanded;
    }
  }
}

.off-canvas-wrapper {
  background: linear-gradient(to bottom, rgba(white, 0) 0%, rgba(white, 1) rem-calc(300)),
              url(/assets/images/top_bar_bg.jpg);

  &, .off-canvas-wrapper-inner, .off-canvas {
    min-height: 100vh;
  }

  .off-canvas-wrapper-inner {
    box-shadow: rem-calc(-10) 0 rem-calc(20) rgba(black, .05);
  }

  .off-canvas {
    ul {
      padding: 0 rem-calc(15);

      li {
        &:not(:last-child) a {
          background: linear-gradient(90deg, rgba($primary-color, 1) 60%, rgba($primary-color, 0) 100%) no-repeat;
          background-size: 100% rem-calc(1);
          background-position: left bottom;
        }

        a {
          color: black;
          padding: rem-calc(15) 0;
        }
      }
    }
  }
}

footer {
  border-top: $border-size-regular solid $light-gray;
  font-size: 80%;
  font-weight: lighter;

  &, ul {
    margin-top: $spacing-medium !important;
  }

  ul li {
    padding:  0 0 $spacing-small 0 !important;

    &.menu-text {
      padding-bottom: rem-calc(15) !important;
    }

    a {
      padding: 0 !important;
    }
  }
}

// bower:scss
// endbower

// injector
// endinjector
